<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="udg.cucei.appcajacucei">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StarThings.MainActivity" />

        <!-- FileProvider - a ContentProvider for making the image file securely available to the other end -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="udg.cucei.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".PdfModule.PdfPrueba" />
        <activity android:name=".InstagramTest" />
        <activity
            android:name=".StarThings.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrawingModule.PaintTest" />
        <activity
            android:name=".Main2Activity_menu"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EnterDataMathTest_Activity" />
        <activity
            android:name=".StarThings.AfterSplash_Language"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".InputModule.ItemInputBase"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".OutputModule.ReportActivity"></activity>
    </application>

</manifest>